@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@layer components {

    .scrollable-y {
		width: 100%;
		height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollable-x {
		width: 100%;
		height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

}

.modal-fix {
    z-index: 14;
}

.modal-fix .pane {
    width: calc(100% - 12px) !important;
    max-width: calc(100% - 12px) !important;
    box-shadow: none;
    z-index: 14;
}

.swiper-fix .pane {
    position: absolute !important;
    top: -500px !important;
    width: calc(100vw - 12px) !important;
    min-width: 308px;
    max-width: calc(100vw - 12px) !important;
    background-color: oklch(0.86 0 0);
    box-shadow: none;
    z-index: 9 !important;
    --cupertino-pane-move-background: #ffffff;
}
