@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
